<section id="create-task">
    <div class="block-header">
        <h2>Content Mananagement</h2>
    </div>
    <md-card>
        <md-toolbar layout-padding class="md-warn">
            <div class="md-toolbar-tools">
                <md-button data-ui-sref="main.tasks" class="toolbar-back-btn">
                    <md-icon class="md-light"> <i class="zmdi zmdi-hc-3x zmdi-chevron-left"></i> </md-icon>
                </md-button>
                <h2 class="md-title">Create Task</h2>
                <mark ng-if="createdTask">Task successfully created</mark>
                <p ng-if="error" class="text-danger">{{error.error}}</p>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="createTaskForm" ng-submit="$event.preventDefault(); createTask()">
                <md-input-container>
                    <label>Task Name</label>
                    <input type="text" required ng-model="newTask.name">
                </md-input-container>
                <md-input-container>
                    <label>Task Short info</label>
                    <textarea required ng-model="newTask.shortInfo"></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Task Description</label>
                    <textarea required ng-model="newTask.desc"></textarea>
                </md-input-container>
                <md-radio-group ng-model="newTask.state">
                    <md-radio-button name="task-state" required value="optional" class="md-primary">Optional</md-radio-button>
                    <md-radio-button name="task-state" required value="locked">Locked</md-radio-button>
                    <md-radio-button name="task-state" required value="hidden">Hidden</md-radio-button>
                    <md-radio-button name="task-state" required value="mandatory">Mandatory</md-radio-button>
                </md-radio-group>
                <md-input-container>
                    <md-toolbar class="md-priamry">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Character/Location</h2>
                        </div>
                    </md-toolbar>
                    <md-select placeholder="Select Character" ng-model="newTask.character" md-on-open="loadCharacters()">
                        <md-option class="character-option" ng-repeat="character in characters track by $index" value="{{character.id}}"><img class="image" fallback-src="assets/img/avatar.png" ng-src="{{characterImg}}{{character.id}}">{{character.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select placeholder="Select Location" ng-model="newTask.location" md-on-open="loadLocations()">
                        <md-option ng-repeat="location in locations track by $index" value="{{location.id}}"><img class="image" fallback-src="assets/img/location.png" ng-src="{{locationImg}}{{location.id}}">{{location.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-container>
                    <md-toolbar class="md-priamry">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Image</h2>
                        </div>
                    </md-toolbar>
                    <div upload-image ng-show="!showMediaLibrary">
                        <br>Upload Image:
                        <div ngf-drop ngf-select ng-model="filesToUpload" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" accept="image/*">Drop image here or click to upload</div>
                        <md-button class="md-icon-button" type="button" aria-label="Remove Uploaded Image" ng-show="uploadedImageUrl" ng-click="removeUploadedImage()">
                            <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                        </md-button>
                        <img ng-show="uploadedImageUrl" class="image-preview md-whiteframe-z4" ng-src="{{uploadedImageUrl}}" />
                        <p ng-show="filesToUpload && filesToUpload.length > 0">File name: <span ng-repeat="f in filesToUpload">{{f.name}}</span></p>
                        <div class="progress-bar-container" ng-show="progressPercentage && filesToUpload">
                            <div class="progress-bar" style="width:{{ progressPercentage }}%;"> {{ progressPercentage }}%</div>
                        </div>
                    </div>
                    <md-input-container>
                        <md-button class="md-raised" type="button" ng-click="toggleImageLoadType()">{{ imageLoadTypeText }}</md-button>
                    </md-input-container>
                    <div ng-show="showMediaLibrary">
                        <md-grid-list md-cols-gt-lg="10" md-cols-lg="8" md-cols-gt-md="8" md-cols-md="6" md-cols-gt-sm="6" md-cols-sm="2" md-row-height-sm="50px" md-row-height-md="60px" md-row-height="80px" md-gutter="15px" md-gutter-gt-sm="15px">
                            <md-grid-tile class="md-whiteframe-z3" ng-repeat="image in mediaImages" md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-click="selectImageFromMediaLibrary(image)">
                                <img ng-src="{{imageUrlPattern + image.id}}" class="img-responsive" alt="Image">
                                <md-grid-tile-footer class="selectedImage" ng-click="">
                                    <h3>{{$index}}</h3>
                                    <input class="checkedImg" type="radio" ng-model="image.name" name="id" value="" required />
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </md-container>
                <md-container>
                    <md-toolbar class="md-priamry">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Question/Answers</h2>
                        </div>
                        <md-button type="button" ng-click="addDialog()" class="md-fab md-mini md-warn chat-plus">
                            <i class="zmdi zmdi-plus zmdi-hc-lg"></i>
                        </md-button>
                    </md-toolbar>
                    <div id="dialog">
                        <div ng-repeat="dialog in task.chat" class="dialog-block">
                            <md-input-container>
                                <label>Question</label>
                                <textarea required ng-model="dialog.text"></textarea>
                            </md-input-container>
                            <md-input-container ng-repeat="answer in dialog.answers track by $index">
                                <label>Answer {{$index+1}}</label>
                                <textarea required ng-model="dialog.answers[$index]"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </md-container>
                <md-button type="submit" class="md-raised">
                    Save
                </md-button>
            </form>
        </md-card-content>
    </md-card>
</section>
