<section id="tasks">
    <div class="block-header">
        <h2>Content Mananagement</h2>
    </div>
    <md-card>
        <md-card-content>
            <md-data-table-toolbar ng-hide="selected.length || filter.show">
                <h2 class="md-title">Tasks</h2>
                <div flex=""></div>
                <md-button class="md-icon-button" ng-click="filter.show = true" aria-label="Show Search">
                    <i class="zmdi zmdi-hc-lg zmdi-search"></i>
                </md-button>
                <md-button aria-label="Create task" data-ui-sref="main.create-task" class="md-fab md-button md-primary">
                    <i class="zmdi zmdi-plus zmdi-hc-lg"></i>
                </md-button>
            </md-data-table-toolbar>
            <md-data-table-toolbar ng-show="filter.show && !selected.length">
                <md-input-container class="md-icon-float" flex>
                    <!-- Use floating label instead of placeholder -->
                    <label>Search</label>
                    <input type="text" ng-model="query.filter" ng-model-options="filter.options">
                </md-input-container>
                <md-button class="md-icon-button" ng-click="removeFilter()" aria-label="Remove Search">
                    <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                </md-button>
            </md-data-table-toolbar>
            <md-data-table-toolbar ng-show="selected.length" layout-align="space-between">
                <div>{{selected.length}} items selected</div>
                <md-button class="md-fab md-mini md-primary" aria-label="Delete Selected Tasks" ng-click="deleteSelectedTasks()">
                    <i class="zmdi zmdi-delete"></i>
                </md-button>
            </md-data-table-toolbar>
            <md-data-table-container>
                <table md-data-table md-row-select="selected" md-progress="deferred">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Task name</th>
                            <th>Task desc</th>
                            <th>Due Date</th>
                            <th>Character</th>
                            <th>Location</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="task in tasks | filter: query.filter | filter: skip | limitTo: query.limit"> -->
                        <tr ng-repeat="task in tasks | filter: query.filter">
                            <td>{{$index + 1}}</td>
                            <td><img fallback-src="assets/img/location.png" class="task-img" ng-src="{{taskImg}}{{task.id}}"></td>
                            <td ng-bind="::task.name"></td>
                            <td ng-bind="::task.desc"></td>
                            <td ng-bind="::task.dueDate | date:'MM/dd/yyyy'"></td>
                            <td ng-bind="::task.character.name"></td>
                            <td ng-bind="::task.location.name"></td>
                            <td>
                                <!-- <md-button class="md-fab md-mini md-primary" aria-label="Delete Selected Courses" data-ui-sref="main.edit-course"> -->
                                <md-button aria-label="Edit task" class="md-fab md-mini md-warn chat-plus md-button md-default-theme" data-ui-sref="main.edit-task({id: task.id})">
                                    <i class="zmdi zmdi-edit"></i>
                                </md-button>
                                <!-- </md-button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
           <!--   <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{tasks.length}}" md-trigger="onPaginationChange"></md-data-table-pagination> -->
        </md-card-content>
    </md-card>
</section>
