.student-avatar {
    max-height: 48px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    margin-top: 5px;
}

.table {
    th {
        font-size: 12px;
        color: #AEABAB;
        white-space: nowrap;
    }
    tbody {
        tr { 
            padding: 0px;
            td {
                vertical-align: middle;
                font-size: 12px;
                padding: 0px;
            }
        }
    }
}
