<section id="create-character">
    <div class="block-header">
        <h2>User Mananagement</h2>
    </div>
    <md-card>
        <md-toolbar aria-label="" layout-padding class="md-warn">
            <div class="md-toolbar-tools">
                <md-button data-ui-sref="main.admin-manage-teachers" class="toolbar-back-btn">
                    <md-icon class="md-light" aria-label=""> <i class="zmdi zmdi-hc-3x zmdi-chevron-left"></i> </md-icon>
                </md-button>
                <h2 class="md-title">Edit Teacher</h2>
                <mark ng-if="createdTeacher">Teacher successfully updated</mark>
                <p ng-if="error" class="text-danger">{{error.error}}</p>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="editTeacherForm" ng-submit="$event.preventDefault(); editTeacher()">
                <md-input-container>
                    <label>First Name</label>
                    <input type="text" required ng-model="teacher.first_name">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input type="text" required ng-model="teacher.last_name">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input type="email" required ng-model="teacher.email">
                </md-input-container>
                <md-input-container>
                    <label>Country</label>
                    <input type="text" required ng-model="teacher.country">
                </md-input-container>
                <md-input-container>
                    <label>Language</label>
                    <input type="text" required ng-model="teacher.language">
                </md-input-container>
                <md-input-container>
                    <label>Phone</label>
                    <input type="text" required ng-model="teacher.phone">
                </md-input-container>
                <md-input-container>
                    <label>Birthday</label>
                    <input type="number" required ng-model="teacher.birthday">
                </md-input-container>
                <md-input-container>
                    <md-select placeholder="Gender" ng-model="teacher.gender">
                        <md-option class="teacher-option" value="Male">Male</md-option>
                        <md-option class="teacher-option" value="Female">Female</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-toolbar class="md-priamry">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Classes</h2>
                        </div>
                    </md-toolbar>
                    <table md-data-table md-row-select="selectedClasses" md-progress="deferred">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Class name</th>
                                <th>Students</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="class in classes">
                                <td>{{$index + 1}}</td>
                                <td>{{class.name}}</td>
                                <td>{{class.users.length}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-input-container>
                <md-button aria-label="Save" type="submit" class="md-raised">
                    Save
                </md-button>
            </form>
        </md-card-content>
    </md-card>
</section>

