<section id="student-assessment">
    <div class="block-header">
        <h2>Users Management</h2>
    </div>
    <md-card>
        <md-card-content>
            <md-data-table-toolbar ng-hide="selected.length || filter.show">
                <h2 class="md-title">Teachers</h2>
                <div flex=""></div>
                <md-button class="md-icon-button" ng-click="filter.show = true" aria-label="Show Search">
                    <i class="zmdi zmdi-hc-lg zmdi-search"></i>
                </md-button>
                <md-button aria-label="Create teacher" data-ui-sref="main.admin-create-teacher" class="md-fab md-button md-primary">
                    <i class="zmdi zmdi-plus zmdi-hc-lg"></i>
                </md-button>
            </md-data-table-toolbar>
            <md-data-table-toolbar ng-show="filter.show && !selected.length">
                <md-input-container class="md-icon-float" flex>
                    <!-- Use floating label instead of placeholder -->
                    <label>Search</label>
                    <input type="text" ng-model="query.filter" ng-model-options="filter.options">
                </md-input-container>
                <md-button class="md-icon-button" ng-click="removeFilter()" aria-label="Remove Search">
                    <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                </md-button>
            </md-data-table-toolbar>
            <md-data-table-toolbar ng-show="selected.length" layout-align="space-between">
                <div>{{selected.length}} items selected</div>
                <md-button class="md-fab md-mini md-primary" aria-label="Delete Selected Teacher" ng-click="deleteSelectedTeachers()">
                    <i class="zmdi zmdi-delete"></i>
                </md-button>
            </md-data-table-toolbar>
            <md-data-table-container>
                <table md-data-table md-row-select="selected" md-progress="deferred">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Classes</th>
                            <th>Message</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="teacher in teachers | filter: query.filter">
                            <td>{{$index+1}}.</td>
                            <td><img fallback-src="assets/img/avatar.png" class="teacher-avatar" ng-src="{{teacherImg}}{{teacher.id}}"></td>
                            <td>{{teacher.first_name}}{{teacher.last_name}}</td>
                            <td>{{teacher.email}}</td>
                            <td>{{teacher.classes.length}}</td>
                            <td>
                                <md-button aria-label="Email" class="md-fab md-mini md-primary chat-plus md-button md-default-theme">
                                    <i class="zmdi zmdi-email"></i>
                                </md-button>
                            </td>
                            <td>
                                <!-- <button class="md-raised md-primary md-button md-default-theme" ng-click="showEditUserModal($event, user)">Edit</button> -->
                                <md-button aria-label="Edit teacher" class="md-fab md-mini md-warn chat-plus md-button md-default-theme" data-ui-sref="main.admin-edit-teacher({id: teacher.id})">
                                    <i class="zmdi zmdi-edit"></i>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
            <!-- <md-data-table-pagination md-limit="" md-page="" md-total="{{}}" md-trigger="onPaginationChange"></md-data-table-pagination> -->
        </md-card-content>
    </md-card>
</section>
