<section id="create-scene" class="content-management">
    <div class="block-header">
        <h2>Content Mananagement</h2>
    </div>
    <md-card>
        <md-toolbar layout-padding class="md-warn">
            <div class="md-toolbar-tools">
                <md-button aria-label="" data-ui-sref="main.scenes" class="toolbar-back-btn">
                    <md-icon class="md-light"> <i class="zmdi zmdi-hc-3x zmdi-chevron-left"></i> </md-icon>
                </md-button>
                <h2 class="md-title">Create Scene</h2>
                <mark ng-if="createdScene">Scene successfully created</mark>
                <p ng-if="error" class="text-danger">{{error.error}}</p>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="createSceneForm" ng-submit="$event.preventDefault(); createScene()">
                <md-input-container>
                    <label>Scene Name</label>
                    <input type="text" required ng-model="newScene.name">
                </md-input-container>
                <md-input-container>
                    <label>Scene Description</label>
                    <textarea required ng-model="newScene.desc"></textarea>
                </md-input-container>
                <md-input-container>
                    <md-select placeholder="Select Location" ng-model="newScene.location" md-on-open="loadLocations()">
                        <md-option ng-repeat="location in locations track by $index" value="{{location.id}}"><img class="image" fallback-src="assets/img/location.png" ng-src="{{locationImg}}{{location.id}}">{{location.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-toolbar class="md-priamry">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Tasks</h2>
                        </div>
                    </md-toolbar>
                    <table md-data-table md-row-select="selectedTasks" md-progress="deferred">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Task name</th>
                                <th>Description</th>
                                <th>Character</th>
                                <th>Location</th>
                                <!-- <th unit="g" order-by="fat.value">dummy label</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in tasks | filter: query.filter">
                                <td>{{$index + 1}}</td>
                                <td ng-bind="::task.name"></td>
                                <td ng-bind="::task.desc"></td>
                                <td ng-bind="::task.character.name"></td>
                                <td ng-bind="::task.location.name"></td>
                            </tr>
                        </tbody>
                    </table>
                </md-input-container>
                <md-container>
                    <md-toolbar class="md-priamry">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Image</h2>
                        </div>
                    </md-toolbar>
                    <div upload-image ng-show="!showMediaLibrary">
                        <br>Upload Image:
                        <div ngf-drop ngf-select ng-model="filesToUpload" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" accept="image/*">Drop image here or click to upload</div>
                        <md-button class="md-icon-button" type="button" aria-label="Remove Uploaded Image" ng-show="uploadedImageUrl" ng-click="removeUploadedImage()">
                            <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                        </md-button>
                        <img ng-show="uploadedImageUrl" class="image-preview md-whiteframe-z4" ng-src="{{uploadedImageUrl}}" />
                        <p ng-show="filesToUpload && filesToUpload.length > 0">File name: <span ng-repeat="f in filesToUpload">{{f.name}}</span></p>
                        <div class="progress-bar-container" ng-show="progressPercentage && filesToUpload">
                            <div class="progress-bar" style="width:{{ progressPercentage }}%;"> {{ progressPercentage }}%</div>
                        </div>
                    </div>
                    <md-input-container>
                        <md-button class="md-raised" type="button" ng-click="toggleImageLoadType()">{{ imageLoadTypeText }}</md-button>
                    </md-input-container>
                    <div ng-show="showMediaLibrary">
                        <md-grid-list md-cols-gt-lg="10" md-cols-lg="8" md-cols-gt-md="8" md-cols-md="6" md-cols-gt-sm="6" md-cols-sm="2" md-row-height-sm="50px" md-row-height-md="60px" md-row-height="80px" md-gutter="15px" md-gutter-gt-sm="15px">
                            <md-grid-tile class="md-whiteframe-z3" ng-repeat="image in mediaImages" md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-click="selectImageFromMediaLibrary(image)">
                                <img ng-src="{{imageUrlPattern + image.id}}" class="img-responsive" alt="Image">
                                <md-grid-tile-footer class="selectedImage" ng-click="">
                                    <h3>{{$index}}</h3>
                                    <input class="checkedImg" type="radio" ng-model="image.name" name="id" value="" required />
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </md-container>
                <md-button aria-label="Submit" type="submit" class="md-raised">
                    Save
                </md-button>
                </md-content>
            </form>
        </md-card-content>
    </md-card>
</section>
