h2 {
    margin-top: 0px;
}

#create-scene {
    .dragover {
        border: 5px dashed blue;
    }
    .drop-box {
        background: url(../assets/img/raport-default.png) center center no-repeat;
        font-size: 14px;
        color: rgb(190, 188, 188);
        border: 5px dashed #DDD;
        width: 100%;
        height: 150px;
        text-align: center;
        padding: 5px;
        margin: 10px 0;
    }
    .image-preview {
        width: 200px;
        height: 200px;
    }
}

.scene-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #ddd;
}
